---
import {marked} from "marked";
import DOMPurify from "isomorphic-dompurify";
import {removeEmoji} from "../ustils/remove-emoji";
const {title, date, price, body, slug, location, linkToEventPage, registration, link} = Astro.props

import {MapPin, CalendarDays, Wallet, Link} from '@lucide/astro';
const renderHTMLFromMarkdown = (markdownText) =>
  DOMPurify.sanitize(marked.parse(markdownText));
---
<style>
    .title-link{
        color: inherit;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
    }
    p{
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 18px 0;
    }
    article{
        max-width: 80ch;
    }
</style>
<article transition:name={`${slug}-event`} id={slug}>


    <header>
      {linkToEventPage
        ? <a href={linkToEventPage} class="title-link">
                  <h2>{title}</h2>
              </a>
        :
              <header><h2>{title}</h2></header>

      }
    </header>

    <Fragment set:html={renderHTMLFromMarkdown(body ?? "")}/>

    <footer>
      {date && <p><CalendarDays />{removeEmoji(date)}</p>}
      {location && <p><MapPin /> {removeEmoji(location)}</p>}
      {price && <p><Wallet />{removeEmoji(price)}</p>}
      {registration && <p><Link /><a href={registration}>Link do zapisów</a></p>}
      {link && <p><Link /><a href={link}>Link do wydarzenia</a></p>}
    </footer>
</article>